/* HTML Selectors */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: 'Kalam', cursive;
} 

div {
    margin: 10px;
    text-align: center;
}

label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
}

section {
    text-align: center;
}


/* Class Selectors */
.active {
    background-color: white;
    color: black;
}

/* ID Selectors */
#functions {
    display: grid;
    grid-template-columns: 1fr;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
    to bottom right,  
    #2C3E50, #41A391, 
    #4181A3, #882A46, 
    #2C3E50, #41A391, 
    #4181A3, #882A46);
    /* background-color: darkslategray; */
}
.container
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    background: black;
    padding: 40px 60px;

}
h2 
{
  font-size: 3em;
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 0.1em;


}
.reset
{
    padding: 15px 20px;
    color: #0d614b;
    background: #efefef;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;

}
.reset:focus
{
    color: #efefef;
    background: #0d614b;

}

.game 
{
    width: 600px; 
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;

}

.item
{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #efefef;
    transition: 0.25s;

}
.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: lightsteelblue;    
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.item.boxOpen
{
    transform: rotateY('angle');
}
.boxMatch:after,
.boxOpen:after
{
    transform: rotateY(180deg);
}

/* media queries */
@media only screen and (min-width: 32.5em) {
    /* HTML Selectors */
/* HTML Selectors */
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: 'Kalam', cursive;
}

div {
    margin: 10px;
    text-align: center;
}

footer {
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
}

header {
    margin: auto;
    text-align: center;
}

label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
}

section {
    text-align: center;
}


/* Class Selectors */
.active {
    background-color: white;
    color: black;
}

.open li {
    display: block;
}

/* ID Selectors */
#functions {
    display: grid;
    grid-template-columns: 1fr;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(
    to bottom right,  
    #2C3E50, #41A391, 
    #4181A3, #882A46, 
    #2C3E50, #41A391, 
    #4181A3, #882A46);
    /* background-color: darkslategray; */
}
.container
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    background: black;
    padding: 40px 60px;

}
h2 
{
  font-size: 3em;
  color: aliceblue;
  text-transform: uppercase;
  letter-spacing: 0.1em;


}
.reset
{
    padding: 15px 20px;
    color: #0d614b;
    background: #efefef;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;


}
.reset:focus
{
    color: #efefef;
    background: #0d614b;

}

.game 
{
    width: 600px; 
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;

}

.item
{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #efefef;
    transition: 0.25s;

}
.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: lightsteelblue;    
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.item.boxOpen
{
    transform: rotateY('angle');
}
.boxMatch:after,
.boxOpen:after
{
    transform: rotateY(180deg);
}

}
